
.image-container{
   position:relative;
}
.image-container img{
   width:100%;
   height:100%;
}
.transition-image{
   position:absolute;
   top:0px;
   opacity:0;
   transition: opacity 0.5s ease;
}
.transition-image:hover{
   opacity:1;
}
a:link{
   color:blue;
   background-color:transparent;
   text-decoration:none;
  }
  a:visited{
   color:purple;
   background-color:transparent;
   text-decoration:none;
  }
   a:hover{
   color:red;
   background-color:transparent;
   text-decoration:underline;
  }
   body {
    background-color: beige; /* set the background color here */
    color: black; /* set the text color to black here */
    font-family: Arial, Helvetica, sans-serif;  /* set the font here */
    text-align: center; /* set the text alignment here */
    }
   footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
   }
    h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }
     h2 {
     /* set the text color of to #075AAB here */
    /* set both the bottom margin and top margin to 2.5rem here */
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
   }
   li{
      transform:rotate3d(x,y,z,180deg);
   }
   p{
      padding: 25px 30px;
      border: hidden;
   }
   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
   }
   
